body {
  background-image: url(./img/6209665.jpg);
  background-size: cover;
  /* background-color: #ffe5a9; */
  font-family: 'Roboto Condensed', sans-serif;


}

.avatar {
  width: 30px;
}

h3 {
  font-size: 45px !important;

  color: #fff;
}

p {
  font: 25px sans-serif;
  color: #fff;
}

.btn-download {
  color: #fff;
  border-color: #fff;
  border-radius: 2px;

  font-size: 20px;
}

/* .avatar 200px */
.fast-icon {
  margin: 3px;
  margin-bottom: 20px;
  gap: 5px;

}

.resize-icon {
  font-size: 40px;
}

.fast-icon i {

  display: contents;
  border: none;
  color: rgb(250, 250, 250) !important;
  size: 100px;

}

.fast-icon bi {

  size: 50px !important;
  margin: 5px;
}

.a {
  color: rgb(250, 250, 250) !important;
}

.bi {
  color: rgb(250, 250, 250)
}

.col-md-4 {
  /* background-color: #525266; */
  padding-bottom: 100%;
  border: 1px solid #E2C5A8;
}

.btn-bg {
  background-color: #fff;
}

.social_media-bg {
  width: 80%;
  /* Set the width to 80% of the parent element */
  border: 2px solid #A1C9D7 !important;
}


.btn-outline-success {
  color: #fff;
  border-color: #fff;
}

.text-center {
  color: #fff;
}

.social_media-wrapper {
  overflow: hidden;
}

.cover-photo {
  width: 100%;

  height: 174px;
  background-image: url("./img/Anh-bia-zalo-tranh-ve-phong-canh.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(34, 33, 31);
  border: 1px solid #ebe3e3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-circle {
  width: 168px;
  height: 168px;
}

.avatar {
  position: absolute;
  left: 10%;
  top: 10%;
  border-bottom: 2px solid #ebe3e3;
}